{% extends "base.html" %}

{% block content %}
    {% if user.is_superuser %}
    <div class="col-sm-9">
        <button class="btn btn-default" onclick="location.href='{% url 'new_review' %}'">New Review</button>
    </div>
    {% endif %}
    {% for post in posts %}
        <div class="row">
            <hr>
                <a class="story-img" href="#">
                    {% if post.image %}
                    <img class="review_img" width="50%" src="/media/{{ post.image }}" width="50%">
                    {% endif %}
                </a>
            <div class="col-md-10 col-sm-9">
                <h3>{{ post.title }}</h3>
                <div class="row">
                    <div class="col-xs-9">
                        <p>{{ post.content|truncatewords:30 }}</p>
                        <p><button class="btn btn-default" onclick="location.href={{ post.id }}">Read More</button></p>
                        <p>{{ post.published_date }} | <strong>Views</strong> {{ post.views }} | <strong>Tag:</strong> {{ post.tag }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}