{% extends "base.html" %}

{% block content %}
            {% for magazine in magazines %}
            <div class="magazines">
                <img width="100%" src="/media/{{magazine.image}}">
                    <div class="magazine_text">
                    <p>{{magazine.month}}&nbsp;{{magazine.year}}</p>

            {% if user.is_authenticated %}
                <a class="btn btn-primary" href="#">Download</a>
            {% else %}
                <a class="btn btn-primary" href="{% url 'register' %}">Subscribe</a>
                <a class="btn btn-default" href="{% url 'login' %}?magazines.html">Login</a>
            {% endif %}

                    </div>
            </div>
            {% endfor %}
{% endblock %}

<!--https://s-media-cache-ak0.pinimg.com/736x/45/f3/db/45f3db946635dbca7f849778767c0dee.jpg-->