*, a {
    color: white;
}

p {
    margin: 10px 0 10px;
}

span {
    text-align: left;
}

legend {
    text-align: left;
}

body {
    background-color: #1b1b1b;
}

.footer_style {
    font-size: 12px;
    color: #777;
}

.method_text {
    color: white;
    font-weight: bold;
}

.link {
    font-size: medium;
    color: #317EF7;
}

.logo_style {
    font-family: Bowlby One;
    font-size: 25px;
}

.navbar-nav>li>.dropdown-menu {
    background-color: #222;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: transparent;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-color: transparent;
}

.dropdown-menu>li>a {
    color: #317eac;
}

tr.magazines {
    width: 20%;
    display: block;
    margin-right: 5%;
}

td.mag_col {
    text-align: center;
    border: 1px solid black;
    background: #1b1b1b;
}

div.magazines {
    display: block;
    text-align: center;
    padding: 0% 5% 0% 5%;
}

div.profile {
    display: inline-block;
    width:40%;
    margin-right:30px;
}

div.profile_right {
    display: block;
    }

div.inline_block {
    display: inline-block;
}

div.magazine_text {
    display: grid;
    padding: 0px 10% 0px 10%;
    width: 100%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 15%;
}

.masthead {
    fill: black;
    fill-opacity: 0.5;
}
.payment_icons {
    height: 80px;
}

.payment_methods {
    display: inline-block;
    width: 165px;
    vertical-align: middle;
    border-radius: 10px;
    margin-right: 0px;
    border: solid;
    border-bottom-color: aquamarine;
    text-align: center;
    border-right-color: burlywood;
    border-top-color: darkkhaki;
    background-color: #333;
}

.payment_methods:hover span {
    color: black;
}

.payment_methods:hover {
    background-color: white;
}

/*Index Review Styling*/

.review_holder_index {
    display: inline-block;
    width: 100%;
}

.review_header_index {
    padding-left: 10px;
}

.index_review_title {
        background-color: black;
        width: 100%;
        font-size: large;
        height: auto;
        padding: 10px;
        opacity: 0.8;
        position: absolute;
}

.review {
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    text-align: left;
}

div.review_snippet{
        display: inline-block;
        width: 100%;
        text-align: left;
        vertical-align: top;
        padding: 0px 15px 0px 5px;
    }

/*End */

/*Index Magazine Styling*/

.magazine_holder_index {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.magazine_index {
    display: inline-block;
    width: 100%;
    padding: 0px;
}

.magazine_header {
    font-size:x-large;
    padding-bottom: 15px;
}


/*End*/

.review_img {
    height: auto!important;
    max-height: 300px;
    max-width: 100%;
    overflow: hidden;
}

.center {
    width: 100%;
    margin-left: auto;
    border-radius: 4px;
    margin-right: auto;
    padding: 10px 10% 0% 10%;
    display: block;
}

.payment_center {
    width: 100%;
    margin-left: auto;
    border-radius: 4px;
    margin-right: auto;
    padding: 10px 10% 0% 10%;
    display: block;
}

.image_div{
    text-align: left;
    background: url('/media/{{statistic.screen_image}}');
}

.container {
    padding-left: 0px;
    padding-right: 0px;

}

.form-group {
    text-align: left;
}

.margin {
    text-align: center;
}

div.statistics {
    width: 100%;
    text-align: left;
    padding-bottom: 10px;
    padding-left: 10px;
}

div.stat_ranking {
        display: inline-block;
        width: 100%;
        padding-left: 10px;
        padding-top: 10px;
        vertical-align: top;
        text-align: left;

    }

div.stat_img {
    width: 100%;
    text-align: center;
    padding: 0% 5% 0% 5%;
}

.stat_title {
    font-size: 18px;
    font-weight: 500;
    color: #317eac;
}

.circular-chart {
        width: 100%;
        display: block;
        margin: 10px auto;
        max-width: 80%;
        max-height: 250px;
        fill: white;
}

.circle {
        fill-opacity: 0.6;
        fill: black;
        stroke-width: 1px;
        stroke-linecap: round;
        animation: progress 2s ease-out forwards;
    }

@keyframes progress {
        0% {
            stroke-dasharray: 0 100;
        }
    }

text {
        color: white;
        font-size: 5px;
    }

.blue {
        fill: lightblue;
    }

#percentage {
    color: green;
}

#backgroundimage {
    height: auto;
    padding: 10px 0px 0px 0px;
    width: 50%;
    z-index: -1;
}

/*Navbar*/

.navbar-default {
    background-color: transparent;
    border-color: white;
}

.navbar-default .navbar-toggle {
    border-color: white;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 7px;
}

.navbar-default .navbar-nav>li>a {
    color: #317eac;
    font-size: 15px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: transparent;
}

a:focus {
    outline: none;
}

a:hover, a:focus {
    text-decoration: none;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 20px;
}

.brand {
    font-size: xx-large;
}

.container-fluid {
    padding: 20px 50px 0px 50px;
}

.container {
    padding-left: 0px;
}
/*Nav-end*/

@media screen and (min-width: 480px) {

    .container {
        padding-left: 2%;
        padding-right: 2%;
    }

    .review_holder_index {
        width: 65%;
    }

    .index_review_title {
        height: auto;
        font-size: large;
    }

    .magazine_holder_index {
        position: absolute;
        text-align: left;
        vertical-align: text-top;
        width: 35%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 0px;
        height: 100%;
    }

    .logo_style {
        font-size: xx-large;
    }

    div.magazines {
        display: inline-block;
        width: 30%;
        padding: 30px;
        text-align: left;
    }
    div.magazine_index {
        display: inline-block;
        padding: 0px;
        width: 100%;
        text-align: left;
    }

    div.review {
        display: inline-block;
        position: relative;
        background-size: contain;
        background-repeat: no-repeat;
        height: auto;
        width: 100%;
        text-align: left;
    }

    div.statistics {
        display: inline-block;
        width: 25%;
        padding: 10px;
        vertical-align: top;
        text-align: left;
    }

    div.stat_img {
        display: inline-block;
        width: 22%;
        padding: 10px;
        vertical-align: top;
        text-align: center;
    }

    div.stat_ranking {
        width: 35%;
    }

    div.magazine_text {
        display: inline;
        width: 20%;
        text-align: left;
    }

    div.profile_right {
        display: inline-block;
        width: 50%;
        vertical-align: top;
    }

    .center {
        width: 45%;
        vertical-align: middle;
        padding: 10px;
    }

    .payment_center {
        width: 45%;
        display: inline-block;
        vertical-align: middle;
        padding: 10px;
    }

    /*Percentage donut*/

    .circular-chart {
        width: 50%;
        display: block;
        margin: 10px;
        max-width: 80%;
        max-height: 250px;
        fill: white;
    }

}

@media screen and (min-width: 768px) {

    .container-fluid {
        padding: 20px 0px 0px 0px;
    }

    .container {
        padding-left: 0%;
        padding-right: 0%;
    }

    .payment_center {
        width: 25%;
    }
}