{% extends "base.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}

{% block content %}
        <span class="stat_title" style="padding-left: 5px;">{{review.title}}&nbsp;({{review.year}})</span>
            <div class="image_div" style="width: 100%;">
                <img class="review_img" src="/media/{{review.screen_image}}">
            </div>

        <span class="stat_title" style="padding-left: 5px;">Synopsis</span>
            <div class="review_snippet">
                <p>{{review.review}}</p>
            </div>
{% endblock %}
