{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <h1 style="font-family: 'Bowlby One';">The Good, The Bad & The Ugly</h1><br>
            <p style="font-size: 15px;">In depth movie statistics, reviews and magazines for all things Sci Fi, Horror & Action.
                                        From Blockbuster to B-Movie and everything in between, we want to keep you in the loop of
                                        everything that's happening in Sci Fi, Horror & Action. Hence "They're Here!"</p>
    </div>
{% endblock %}