{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>They're Here!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Bowlby+One" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    {% block head_js %}{% endblock %}
</head>
<body>
<div class="container">
    <nav class="navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsed_list" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="logo_style">THEY'RE HERE!</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="collapsed_list">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
               <li><a href="/magazines">Magazines</a></li>

               <!--If logged in as superuser, alter movie link to dropdown with view & add movie options-->
               {% if user.is_superuser %}
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/stats" role="button" aria-haspopup="true" aria-expanded="false">
                    Movies <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/stats">View movies</a></li>
                        <li><a href="/new_movie">Add a movie</a></li>
                    </ul>
                </li>
               {% else %}
                    <li><a href="/stats">Movies</a></li>
               {% endif %}

              <!--If user is registered and logged in, display profile and logout links-->
              {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}">My Account <img height="15px" src="/media/images/Account.png"></a></li>
                <li><a href="{% url 'logout' %}">Log Out</a></li>
              {% else %}
                <li><a href="{% url 'payment_method' %}">Subscribe</a></li>
                <li><a href="{% url 'login' %}">Log In</a></li>
              {% endif %}

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>


   <hr>

   <div class="container">
       {% block content %}
       {% endblock %}
   </div>

   <hr>

   <div class="footer" style="text-align: center">
       <p class="footer_style">
           <a class="footer_style" href="/">Home</a> |
           <a class="footer_style" href="/stats"> Movies</a> |
           <a class="footer_style" href="/magazines"> Magazines</a> |
           <a class="footer_style" href="/about"> About</a> |
           <a class="footer_style" href="/contact"> Contact Us</a>
       </p>
       <p class="footer_style" style="font-size: 11px">Copyright &copy; 2017 | Andrew Fillary</p>
   </div>
</div>
</body>
</html>